# Created by .ignore support plugin (hsz.mobi)

######################
# IDEs
######################

# Directories
build

# Gradle
.gradle
gradle

# Intellij
**/.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

